{% extends "base.html" %}
{% block title %}Add Student{% endblock %}

{% block content %}
<h2>Add New Student</h2>
<p style="background: #d4edda; padding: 10px;"></p>

<form method="POST" enctype="multipart/form-data">
    <label>Student Name:</label><br>
    <input type="text" name="name" required><br><br>
    
    <label>Roll Number:</label><br>
    <input type="number" name="roll_no" required><br><br>
    
    <label>Department:</label><br>
    <input type="text" name="branch" required><br><br>

    <label>Year:</label><br>
    <select name="year" required>
        <option value="1st Year">1st Year</option>
        <option value="2nd Year">2nd Year</option>
        <option value="3rd Year">3rd Year</option>
    </select><br><br>

    <label>Attendance:</label><br>
    <input type="number" name="attendance" min="0" max="100" required><br><br>
    
    <label>Marks:</label><br>
    <input type="number" name="marks" required><br><br>

    <label>Photo:</label>
    <input type="file" name="photo" accept="image/*"><br><br>
    
    <button type="submit">Add Student</button>
  
</form>
{% endblock %}
