<!DOCTYPE html>
<html>
<head>
    <title>College Smart Portal</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="/">College Smart Portal</a>
        </div>
    </nav> 

    <a href="{{ url_for('home') }}" class="btn outline btn-outline-secondary py-2 mt-3">🏠 Home</a>
    <a href="{{ url_for('dashboard') }}" class="btn btn-outline-secondary py-2 mt-3">📊 Dashboard</a>
    <a href="{{ url_for('records') }}" class="btn  outline btn-outline-secondary py-2 mt-3">📋 View Records</a>
    <a href="{{ url_for('notices') }}" class="btn btn-outline-secondary py-2 mt-3">📰 View Notices</a>
    <a href="{{ url_for('add_student') }}" class="btn btn-outline-secondary py-2 mt-3">➕ Add Student</a>
    <a href="{{ url_for('filter') }}" class="btn btn-outline-secondary py-2 mt-3">🔍 Filter</a>

    {% if session.username %}
        <span class="btn btn-info py-2 mt-3 disabled">👤 {{ session.username }}</span>
        <a href="{{ url_for('logout') }}" class="btn btn-danger py-2 mt-3">🔓 Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="btn outline btn-outline-secondary py-2 mt-3">🔑 Login</a>
    {% endif %}

    <form action="{{ url_for('search') }}" method="GET" class="d-flex ms-3 mt-3">
        <input type="search" name="q" class="form-control form-control-sm border-success" placeholder="Search..." value="{{ request.args.get('q', '') }}" style="width: 180px;">
        <button type="submit" class="btn btn-success btn-sm ms-2">Search</button>
    </form>
    <hr>

    <div class="container mt-4">
        <div class="container mt-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show m-3" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="bg-dark text-white text-center p-3 mt-5">
        © 2026 College Smart Portal | Government Polytechnic Hingoli | developed by <a href="srushti rakhonde" class="text-white">Srushti Rakhonde</a>
    </footer>
</body>
</html>
