{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h2>Student Details</h2>
        </div>

           <div style="display:flex; align-items:center; gap:16px; padding:16px;">

              <img
             src="{% if student.photo %}
               {{ url_for('static', filename='uploads/' + student.photo) }}
              {% else %}
              {{ url_for('static', filename='images/default.png') }}
             {% endif %}"
              alt="{{ student.name }}"
              class="img-fluid rounded-circle"
             style="width:150px; height:150px; object-fit:cover;">

                <div>
                    <h3 style="margin:0;">{{ student[1] }}</h3>
                    <div style="color:#666;">Roll: {{ student[2] }}</div>
                </div>
          </div>        
              
        

            <table class="table table-bordered">

                <tr>
                    <th>Name</th>
                    <td>{{ student[1] }}</td>
                </tr>

                <tr>
                    <th>Roll No</th>
                    <td>{{ student[2] }}</td>
                </tr>

                <tr>
                    <th>Attendance</th>
                    <td>{{ student[5] }}%</td>
                </tr>

                <tr>
                    <th>Branch</th>
                    <td>{{ student[4] }}</td>
                </tr>

                <tr>
                    <th>Marks</th>
                    <td>{{ student[3] }}</td>
                </tr>

            </table>

            <a href="{{ url_for('home') }}" class="btn btn-success">
                Back to Home
            </a>

            <a href="{{ url_for('records') }}" class="btn btn-secondary">
                View Records
            </a>

            <!-- AI Tips section -->
                 <div class="mb-3">
                        <h5 class="fw-bold">AI Study Tips:</h5>
                        {% if tip %}
                        <div class ="alert alert-info">{{ tip }}</div>
                        {% else %}
                      <a href="{{url_for('get_ai_tip', id=student[0])}}" class="btn btn-primary">Get AI Study Tips</a> 
                        {% endif %}
                 </div>

        </div>
    </div>

</div>

{% endblock %}