{% extends "base.html" %}

{% block content %}

<h2>📢 College Notices</h2>

<h3>🚀 Python Training</h3>

<p><b>Date:</b> 28th 2026</p>


<p>
The training focuses on Python programming,
problem-solving techniques, and real-world
project development.
</p>


<p>
Sir announced that",
    "To encourage learning, consistency, and active participation,"
    " a special competition has been announced.",
    "At the end of the training, "
    "the Top 5 performing students will be selected and rewarded with a special gift.
</p>

<a href="{{ url_for('home') }}">
Back to Home
</a>

{% endblock %}

